
html {
    background: #1874d2;
}

body {
    color: white !important;
    background-image: url("#{resource['images/orcs_flying.gif']}");
    background-size: 25%;
    background-repeat: repeat;
}

.jumbotron {
    margin-top: 30px;
    background: #6d98c4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #6d98c4) transparent 50%; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #6d98c4) transparent 50%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-text {
    font-size: 3rem;
    color: #003f65;
    font-family: 'sans-serif', cursive;
    font-weight: 700;
    text-shadow: 3px 3px 0 #eb452b,
    6px 6px 0 #efa032,
    10px 10px 0 #46b59b,
    15px 15px 0 #017e7f;
}
[data-melo~="ig"] {
    display: inline-block;
}
[data-melo~="weird-title"] {
    transform: skew(-15deg, -8deg);
}
[data-melo~="round-left"] {
    transform: rotate(-5deg);
}
[data-melo~="round-left1"] {
    transform: rotate(-3deg);
}
[data-melo~="round-right"] {
    transform: rotate(2deg);
}
[data-melo~="round-right1"] {
    transform: rotate(5deg);
}

div.custom-card {
    position: relative;
    min-width: 0;
    background-color: rgba(163, 163, 163, 0.7);
    background-clip: border-box;
    border: 3px solid rgb(0, 83, 161);
    border-radius: .40rem;
    padding: 10px;
}

#point_form #r_option_values a {
    background-color: olivedrab;
    box-shadow: 2px 2px 5px olivedrab;
    border-radius: 50%;
    border: 3px solid darkgreen;
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
#point_form #r_option_values a:hover {
    background-color: darkgreen;
    cursor: pointer;
}

#table_form table {margin-top: 30px}
#table_form table tbody tr td.green-row {background: rgba(0, 255, 0, 0.15);}
#table_form table tbody tr td.red-row {background: rgba(255, 0, 0, 0.15);}
#table_form table tbody tr td.column-limited {word-break: break-all;}