@font-face {
    font-family: "title-font";
    src: url("#{resource['fonts/chaplin-type-font/title-jumbotron-font.ttf']}");
}

html {
    background: #1874d2;
}

body {
    color: white !important;
    background-image: url("#{resource['images/orcs_flying.gif']}");
    background-size: 25%;
    background-repeat: repeat;
}

#graph-canvas {
    width: 100%;
    height: 35vh;
}

.jumbotron {
    margin-top: 30px;
    background: #6d98c4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #6d98c4) transparent 50%; /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #6d98c4) transparent 50%; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-text {
    font-family: 'title-font', sans-serif;
}
[data-melo~="ig"] {
    display: inline-block;
}
[data-melo~="weird-title"] {
    transform: skew(-15deg, -8deg);
}
[data-melo~="round-left"] {
    transform: rotate(-5deg);
}
[data-melo~="round-left1"] {
    transform: rotate(-3deg);
}
[data-melo~="round-right"] {
    transform: rotate(2deg);
}
[data-melo~="round-right1"] {
    transform: rotate(5deg);
}

div.custom-card {
    position: relative;
    min-width: 0;
    background-color: rgba(163, 163, 163, 0.7);
    background-clip: border-box;
    border: 3px solid rgb(0, 83, 161);
    border-radius: .40rem;
    padding: 10px;
}

table#results-table {margin-top: 30px}
table#results-table tbody tr td.green-row {background: rgba(0, 255, 0, 0.15);}
table#results-table tbody tr td.red-row {background: rgba(255, 0, 0, 0.15);}
table#results-table tbody tr td.column-limited {word-break: break-all;}