<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence">
    <persistence-unit name="pointsManagement" transaction-type="RESOURCE_LOCAL">
        <class>ru.students.lab.models.Point</class>
        <properties>
            <property name="javax.persistence.jdbc.url" value="jdbc:oracle:thin:@localhost:1521:orbis" />
            <property name="javax.persistence.jdbc.user" value="s288867" />
            <property name="javax.persistence.jdbc.password" value="qfb977" />
            <property name="javax.persistence.jdbc.driver" value="oracle.jdbc.OracleDriver" />
            <property name="hibernate.show_sql" value="true" />
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
            <property name="hibernate.hbm2ddl.auto" value="update" />
            <!--<property name="dialect" value="org.hibernate.dialect.Oracle8iDialect"/>-->
        </properties>
    </persistence-unit>
</persistence>