@font-face {
    font-family: "title-font";
    src: url("fonts/chaplin-type-font/title-jumbotron-font.ttf");
}

body {
    background: #1874d2;
    color: white;
}

#graph-canvas {
    width: 100%;
    height: 35vh;
}

.jumbotron {
    margin-top: 30px;
    background-color: #55efc4;
    background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);
}
.header-text {
    font-family: 'title-font', sans-serif;
}
[data-melo~="ig"] {
    display: inline-block;
}
[data-melo~="weird-title"] {
    transform: skew(-15deg, -8deg);
}
[data-melo~="round-left"] {
    transform: rotate(-5deg);
}
[data-melo~="round-left1"] {
    transform: rotate(-3deg);
}
[data-melo~="round-right"] {
    transform: rotate(2deg);
}
[data-melo~="round-right1"] {
    transform: rotate(5deg);
}